<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <div class="container-page">
      <%- include('core/header') %>
      <div class="container-body">
        <h1>About</h1>
      </div>
      <%- include('core/footer') %>
    </div>
  </body>
  <style> <%- myCss.style %> </style>
  <script> <%- myCss.script %> </script>
</html>
