* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --dark_cyan: hsl(185, 75%, 39%);
  --dark_blue: hsl(229, 23%, 23%);
  --dark_gray: hsl(227, 10%, 46%);
  --dark_gray_neutral: hsl(0, 0%, 59%);
}

.container-page {
    min-height: 100vh;
    position: relative;
    font-family: 'Barlow', sans-serif;
}

input {
  font-family: 'Barlow', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  height: 10vh;
  display: flex;
  padding: 0 4rem;
  top: 0;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  background-color: white;
  transition: 0.4s;
}

.logo {
  flex: 1;
  display: flex;
  font-size: 1.5rem;
}

.logo-name {
  display: block;
  transition: 0.4s all ease;
}

.logo-img {
  display: none;
  transition: 0.4s all ease;
}

.navbar {
  flex: 3;
  display: flex;
  align-items: center;
  background-color: white;
  transition: 0.4s all ease;
}

.search {
  flex: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.input-search {
  width: 0rem;
  height: 1rem;
  border-radius: 20px;
  border: none;
  padding: 10px 35px 10px 15px;
  outline: none;
  transition: all .5s;
  -webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
  font-size: 0.9rem;
  font-weight: 300;
}

.search:hover .input-search {
  width: 8.9rem;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.icon-search {
  position: absolute;
  right: 15px;
  cursor: pointer;
  font-size: 1.2rem;
}

ul {
  display: flex;
  list-style: none;
}

a {
  font-weight: 100;
  display: block;
  margin: 10px;
  text-decoration: none;
  color: #5f5f79;
}

a:hover {
  color: #000;
}

.container-body {
  margin-top: 15vh;
  padding: 0 4rem 11rem 4rem;
}

.icon-menu {
  display: none;
}

/*LIST NEWS*/
.article {
  width: 100%;
  height: 235px;
  display: flex;
  margin-bottom: 2rem;
}

.article-img {
  width: calc(100% - 65%);
  background-color: transparent;
}

.article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.article-body {
  width: calc(100% - 35%);
  background-color: #fff;
  padding: 20px;
}
.article-body a {
  font-size: 1.2rem;
  font-weight: 400;
  color: #000;
  margin: 10px 0;
}

.article-body a:hover {
  text-decoration: underline;
}

.article-body p {
  font-size: 1rem;
  margin-top: 15px;
  color: var(--dark_gray_neutral);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 90px;
}

.writter {
  display: flex;
  margin-top: 10px;
}

.writter img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.writter-info {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  margin-left: 15px;
}

.writter-info span:first-child {
  padding-bottom: 5px;
  font-weight: 700;
  color: #000;
}

.writter-info span {
  color: var(--dark_gray_neutral);
}

/**Footer**/

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 11rem;
  background-color: #000;
  color: white;
  padding: 0 4rem;
}

.header-footer {
	text-align: left;
	margin-top: 12px;
  padding: 5px 0px;
}

#footer p {
  color: #636363;
}

.social-btn {
  width: 2rem;
  height: 2rem;
  justify-content: center;
  display: flex;
  padding: 0;
  align-items: center;
  margin: 5px 5px 5px 0px;
  border-radius: 3px;
}

.social-btn i {
  color: #fff;
}

.social-btn.facebook:hover {
	color: #fff;
	background-color: #3b5999;
  cursor: pointer;
}

hr {
	background-color: #636363;
}

.footer-social-wrapper {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.p-footer-second {
	color: #fff;
	text-align: left;
	padding: 9px 0px 0px 0px;
	font-size: 15px;
}

.row-footer-second {
	background-color: rgba(0,0,0,0.88);
  display: flex;
}

.notice-privacy {
	text-decoration: none;
	color: #fff;
  font-size: 15px;
  padding: 9px 0px 0px 0px;
}

.notice-privacy:hover {
	cursor: pointer;
	text-decoration: underline;
}

/**Detail article**/
.card-article {
  display: flex;
  justify-content: center;
}

.card-body {
  width: 70%;
  margin-bottom: 4rem;
}

.container-img {
  width: 100%;
}

.container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.span-new-list {
  color: #636363;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
}

.container-text {
	margin-top: 15px;
  margin-right: 58px;
  font-size: 19px;
}

.container-text p {
  text-align: justify;
}

/**About page**/
.text-about {
	margin-left: 10px;
	padding: 12px 0px 12px 0px;
  text-align: justify;
}

.vertical-line {
	border-left: 6px solid #f1f2f3;
	height: 245px;
  margin-top: 2.5rem;
  width: 50%;
}

/**Contact us**/
.container-contact {
  display: flex;
  width: 100%;
  margin-top: 25px;
}

.section-color {
  height: 2px;
  background-color: #000;
  width: 20%;
  margin-top: 20px;
}

.first-panel {
  flex: 2;
  padding-right: 20px;
}

.second-panel {
  flex: 3;
  padding: 0px 20px 0px 20px;
  border-left: 1px solid #ccc;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 15px 0;
}

.second-panel .form-group:last-child {
  margin-top: 15px;
  margin-bottom: 0;
}

:focus{outline: none;}

input[type="text"] {
  height: 40px;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  color: #333;
}

input[type="text"] ~ .focus-border{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3399FF;
  transition: 0.4s;
}
input[type="text"]:focus ~ .focus-border{
  width: 100%;
  transition: 0.4s;
}

label {
  color: rgba(0, 0, 0, 0.3);
  margin-top: 15px;
}

input[type="text"] ~ .focus-border{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3399FF;
  transition: 0.4s;
}

input:focus ~ .focus-border{
  width: 100%; transition: 0.4s;
}

textarea {
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  color: #333;
  border: 0;
  font-family: 'Barlow', sans-serif;
}

textarea{resize: none}
textarea{resize: none}

.btn {
  border: 0;
  padding: 15px;
  width: 100%;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius: 3px;
  font-family: 'Barlow', sans-serif;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-contact {
  color: #fff;
  background-color: #000;
}
/**MEDIAS QUERIES**/
@media (min-width: 1025px) {
  .logo {
    align-items: center;
  }
  .article {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  #header {
    padding: 0 2rem;
  }

  .container-body {
    padding: 0 2rem 13rem 2rem;
  }

  .logo {
    flex: 4;
    margin-top: 1.8vh;
  }

  .logo-name {
    display: none;
  }

  .logo-img {
    display: block;
    transition: 0.4s;
  }

  .logo-img img {
    transition: 0.4s;
    width: 40%;
  }

  .navbar {
    flex: 0;
    justify-content: center;
    display: none;
  }

  nav {
    position: absolute;
    margin-top: 25px;
  }

  ul {
    flex-direction: column;
  }

  li {
    text-align: center;
  }

  a {
    font-size: 1.55rem;
  }

  .search {
    display: none;
  }

  .icon-menu {
    display: flex;
    flex: 4;
    margin-top: 2.9vh;
    align-items: flex-end;
    flex-direction: column;
    cursor: pointer;
  }

  .bar {
    width: 23px;
    height: 3px;
    background-color: #333;
    margin: 2.5px 0;
    transition: 0.4s;
  }

  .change #line1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-4px, 4px);
  }

  .change #line2 {opacity: 0;}

  .change #line3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-7px, -8px);
  }

  .article {
    height: 150px;
  }

  .article-body {
    padding: 15px;
  }

  .article-body p {
    display: none;
  }

  .writter img {
    display: none;
  }

  .writter-info .writter-fullname {
    display: none;
  }

  .writter-info {
    margin-left: 0;
  }

  #footer {
    height: 13rem;
  }

  .card-body {
    width: 100%;
  }

  .container-text {
    margin-right: 0;
  }

  .vertical-line {
    margin-top: 2rem;
    height: 360px;
    width: 100%;
  }

  .container-contact {
    flex-direction: column;
  }

  .first-panel {
    padding-right: 0;
  }

  .second-panel {
    padding: 0 0 0 0;
    border-left: 0;
  }

}
