<footer id="footer">
  <h4 class="header-footer">Academy-Code</h4>
  <p>El mundo de la tecnología al alcance de tus manos.</p>
  <div class="footer-social-wrapper">
    <p style="color: #fff; display: block;">Redes sociales :</p>
    <div class="social-btn facebook">
      <a href="https://www.facebook.com/academy.code.mx/">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </div>
    <!-- <span class="social-btn facebook">
      <a href="https://www.facebook.com/academy.code.mx/">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </span> -->
  </div>
  <hr>
  <div class="row-footer-second">
    <p class="p-footer-second">© 2019 Academy-Code, Todos los derechos reservados.</p> <p class="notice-privacy"> | Aviso de privacidad.</p>
  </div>
</footer>
