<header id="header">
  <div class="logo">
    <span class="logo-name"> Academy-Code </span>
    <div class="logo-img">
      <img src="./assets/img/logo-academy.png" alt="">
    </div>
  </div>
  <div class="navbar">
    <nav>
      <ul>
        <li><a href="/home">Inicio</a></li>
        <li><a href="/about">Acerca de</a></li>
        <li><a href="/contact">Contacto</a></li>
      </ul>
    </nav>
  </div>
  <div class="search">
    <input class="input-search" type="text"> <span class="icon-search"><i class="fa fa-search"></i></span>
  </div>
  <div class="icon-menu" onclick="pimpMenu(this)">
    <div id="line1" class="bar"></div>
    <div id="line2" class="bar"></div>
    <div id="line3" class="bar"></div>
  </div>
</header>
